<p id="notice"><%= notice %></p>

<p>
  <b>Picture:</b>
  <%= @portfolio.picture %>
</p>

<p>
  <b>Caption:</b>
  <%= @portfolio.caption %>
</p>


<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>